extends ../../layout/analysislayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	style.
		.bigbar{
			padding: 10px;
			padding-left: 30px;
			//- font-size: 18px;
			border-radius: 5px;
			text-align: left;
			background-color: #F9F9F9;
		}
		.bignumber {
			font-size: 20px;
		}
		.title1 {
			font-size: 24px;
		}
		.midnumber {
			font-size: 16px;
		}
		.subdata{
			padding-left: 50px;
			text-align: left;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.smalltd{
			width: 1%;
		}
		.boarderless {
			border: 0px !important;
		}
		.italic {
			font-style: italic;
		}
		.underline{
			text-decoration: underline;
		}
		.nounderline{
			text-decoration: none;
		}
		.badge{
			background-color: #337AB7;
				cursor: pointer;
		}
		.logo{
			height: 14px;
		}
		.modal-scroll{
			max-height: 800px;
		    overflow-y: auto;
		}
		.modal-gene{
			color: red;
			font-weight: bold;
		}
		.fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination {
		    margin-bottom: 0px;
		}

block prepend rightcontent
	- function capitalize(obj){
	-   return obj.toUpperCase();
	- }
	- function frequency(part,total){
	-   return ((part/total) * 100).toFixed(2);
	- }
	- function getClass(obj){
	-   return obj.replace(/_Mutation/g, '');
	- }
	- function endsWith(str, suffix) {
	-   return str.indexOf(suffix, str.length - suffix.length) !== -1;
	- }
	- function getPluralString(no, str){
	- 	if(no < 2) return str;
	-	return endsWith(str,'y') ? str.substring(0,str.length - 1) + 'ies' : str + 's';
	- }

	div#driveModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='driveModalLabel')
		div.modal-dialog.modal-lg(role='document')
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#driveModalLabel.modal-title
				div.modal-body.modal-scroll
					div
						h4 Overview
						div.overview
					div
						h4 Alterations
						div.alter
					div
						h4 Therapeutic Implications
						div.therapeutic
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close

	div
		div.page-header(style={'margin-top': '20px'})
			h3 #{sample.id}, #{capitalize(sample.type)} 
				small #{info.cancer_name}

		div.col-lg-5
			div
				h3 Analysis Results
				hr(style={'margin-top': '0px', 'margin-bottom': '0px'})
			h2.bigbar.text-danger(style={'margin-top': '0px'}) #{genomic_alt} 
				small.text-danger.italic Altered #{getPluralString(genomic_alt,'gene')}
				h3.subdata.text-danger #{mutational_cd} 
					small.text-danger.italic in Cancer Drug Targets
				h3.subdata.text-danger #{cosmic_cgc} 
					small.text-danger.italic in COSMIC Cancer Gene Census 
			h2.bigbar.text-primary #{fda_cancer} 
				small.text-primary.italic #{getPluralString(fda_cancer,'therapy')} approved in #{capitalize(sample.type)}
			h2.bigbar.text-primary #{fda_other_cancer} 
				small.text-primary.italic #{getPluralString(fda_other_cancer,'therapy')} approved in other cancers
			h2.bigbar.text-success #{clinical_trials} 
				small.text-success.italic clinical #{getPluralString(clinical_trials,'trial')}

		div.col-lg-7
			div
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a.title1(href='#clinicaltab', data-toggle='tab',role="tab", aria-controls="clinicaltab") Clinical Features
					li
						a.title1(href='#treatmentstab', data-toggle='tab',role="tab", aria-controls="treatmentstab") Treatments
				div.tab-content
					div#clinicaltab.tab-pane.fade.in.active(role="tabpanel")
						table.table.table-striped.table-hover
							tbody
								tr
									th.boarderless Age
									td.boarderless #{info.age}
								tr
									th Gender
									td #{info.gender}
								tr
									th Smoking History
									td #{info.smoking_history}
								tr
									th Expression Subtype
									td #{info.expression_subtype}
								tr
									th Histological Type
									td #{info.histological_type}
								tr
									th Pathology
									td #{info.pathology}
								tr
									th Pathologic Stage
									td #{info.pathologic_stage}
								tr
									th EGFR Mutation
									td #{info.EGFR_mut}
								tr
									th KRAS Mutation
									td #{info.KRAS_mut}
					div#treatmentstab.tab-pane.fade(role="tabpanel")
						table.table.table-striped.table-hover
							tbody
								tr
									th.boarderless Targeted Molecular Therapy
									td.boarderless #{info.targeted_molecular_therapy}
								tr
									th Radiation Therapy
									td #{info.radiation_therapy}
								tr
									th Primary Therapy Outcome Success
									td #{info.primary_therapy_outcome_success}
		div
			div.col-lg-12
				div.page-header
					h3 Therapeutic Implications
				table#implication_table.table.table-striped.table-hover

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/js/analysis/summary.js')
	script.
		$(function() {
			var cancer_type = $('#cancer_type').val();
			var sample_id = $('#sample_id').val();
			var implications = !{JSON.stringify(implications)};
			renderingTable(cancer_type,sample_id,implications);
		});		
